---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "私のAstro学習ブログ";
---
<BaseLayout pageTitle={pageTitle}>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
